In [ ]:
'''
range() function

Looping Statements in Python
1) for loop
2) while loop

'''

In [2]:
a = range(10)

In [3]:
a

range(0, 10)

In [4]:
range(1,10)

range(1, 10)

In [5]:
range(1,10,2)# 1,3,5,7,9

range(1, 10, 2)

In [ ]:
# Looping statements are used to perform repeatitive task
'''
loop start , condition , break, continue

'''

In [ ]:
user data 10 times 100 times

In [ ]:
num = int(input("enter the number: "))
num = int(input("enter the number: "))
num = int(input("enter the number: "))
num = int(input("enter the number: "))

In [6]:
list1 = []
for i in range(10):
    temp = int(input("Enter a number"))
    list1.append(temp)

print(list1)

Enter a number5
Enter a number7
Enter a number3
Enter a number8
Enter a number0
Enter a number3
Enter a number6
Enter a number8
Enter a number5
Enter a number8
[5, 7, 3, 8, 0, 3, 6, 8, 5, 8]

In [7]:
# print a message while appending a number
# eg Element number 1 is : 24

list1 = []
for i in range(10):
    temp = int(input("Enter a number"))
    list1.append(temp)
    print(f' Element number {i} is: {temp}')

print(list1)

Enter a number1
 Element number 0 is: 1
Enter a number55
 Element number 1 is: 55
Enter a number3
 Element number 2 is: 3
Enter a number6
 Element number 3 is: 6
Enter a number87
 Element number 4 is: 87
Enter a number84
 Element number 5 is: 84
Enter a number34
 Element number 6 is: 34
Enter a number56
 Element number 7 is: 56
Enter a number34
 Element number 8 is: 34
Enter a number76
 Element number 9 is: 76
[1, 55, 3, 6, 87, 84, 34, 56, 34, 76]

In [11]:
# Now Start the range from 1
# To do this use range(start,stop) 


list1 = []
for i in range(1,10):
    temp = int(input("Enter a number"))
    list1.append(temp)
    print(f' Element number {i} is: {temp}')

print(list1)

Enter a number6
 Element number 1 is: 6
Enter a number4
 Element number 2 is: 4
Enter a number7
 Element number 3 is: 7
Enter a number3
 Element number 4 is: 3
Enter a number8
 Element number 5 is: 8
Enter a number0
 Element number 6 is: 0
Enter a number5
 Element number 7 is: 5
Enter a number1
 Element number 8 is: 1
Enter a number3
 Element number 9 is: 3
[6, 4, 7, 3, 8, 0, 5, 1, 3]

In [13]:
# Print even numbers in the range 1-20

list1 = []
for i in range(2,21,2):
    print(f' Even numbers in thr range 1-20 are: {i}')

print(list1)

 Even numbers in thr range 1-20 are: 2
 Even numbers in thr range 1-20 are: 4
 Even numbers in thr range 1-20 are: 6
 Even numbers in thr range 1-20 are: 8
 Even numbers in thr range 1-20 are: 10
 Even numbers in thr range 1-20 are: 12
 Even numbers in thr range 1-20 are: 14
 Even numbers in thr range 1-20 are: 16
 Even numbers in thr range 1-20 are: 18
 Even numbers in thr range 1-20 are: 20
[]

In [14]:
# Print odd numbers in the range 1-20

for i in range(1,20,2):
    print(f' Even numbers in thr range 1-20 are: {i}')

 Even numbers in thr range 1-20 are: 1
 Even numbers in thr range 1-20 are: 3
 Even numbers in thr range 1-20 are: 5
 Even numbers in thr range 1-20 are: 7
 Even numbers in thr range 1-20 are: 9
 Even numbers in thr range 1-20 are: 11
 Even numbers in thr range 1-20 are: 13
 Even numbers in thr range 1-20 are: 15
 Even numbers in thr range 1-20 are: 17
 Even numbers in thr range 1-20 are: 19

In [16]:
# generate the table of user given number

n = int(input('Enter a number of which the table is to be generated: '))
print(f'Table of the number {n} is: ')
for j in range(1,11):
    print(n*j)

Enter a number of which the table is to be generated: 38
Table of the number 38 is:
38
76
114
152
190
228
266
304
342
380

In [1]:
''' 
Assighnments:
1. Write a Python Program to print even numbers in between 1-100 without using step in range
2. Write a Python Program to print odd numbers in between 1-100 without using step in range
3. Write a Python Program to print all  numbers divisivle by 7 in between 1-100

'''

' \nAssighnments:\n1. Write a Python Program to print even numbers in between 1-100 without using step in range\n2. Write a Python Program to print odd numbers in between 1-100 without using step in range\n3. Write a Python Program to print all  numbers divisivle by 7 in between 1-100\n\n'

In [3]:
# 1. Write a Python Program to print even numbers in between 1-100 without using step in range
for i in range(1,101):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [4]:
# 2. Write a Python Program to print odd numbers in between 1-100 without using step in range
for i in range(1,101):
    if(i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [5]:
# 3. Write a Python Program to print all  numbers divisivle by 7 in between 1-100

In [6]:
for i in range(1,101):
    if(i%7==0):
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [7]:
# For loop is basically used with range() function and all the iterables---> List, Tuple, Dictionary

In [8]:
list1 = ['Python','C++','Java','php',12,45,23,4.5]

In [9]:
for i in list1:
    print(i)

Python
C++
Java
php
12
45
23
4.5

In [10]:
tup1 = (3,6,2,8,5,9)

for j in tup1:
    print(j)

3
6
2
8
5
9

In [13]:
dict1 = {'day1':'Mon','day2':'Tues','day3':'Wed'}

for i in dict1:
    print(i)
    print(dict1[i])

day1
Mon
day2
Tues
day3
Wed

In [14]:
# print fobonacci series uptill n numbers 1,1,2,3,5,8,13.....

In [24]:
a=1
b=1
n = int(input('Enter the range of the fibonacci series: '))
print(a,end=' ')
for i in range(1,n):
    print(a, end = ' ')
    temp = a
    a=a+b # 1+1
    b=temp # 2

Enter the range of the fibonacci series: 15
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [25]:
# Nested For loop ---> loop within loop
1
12
123
1234
12345
123456
.
.
.
.

SyntaxError: invalid syntax (<ipython-input-25-81bbc08cee5c>, line 8)

In [31]:
no = int(input("Enter the number: "))
for i in range(1,no+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [ ]:
*
**
***
****
*****
.
.
.
.

In [34]:
no = int(input("Enter the number: "))
for i in range(1,no+1):
    for j in range(1,i+1):
        print('*',end="")
    print()

Enter the number: 8
*
**
***
****
*****
******
*******
********

In [35]:
# printing range in descending order

In [42]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [ ]:
print the following pattern
*****
****
***
**
*

In [48]:
set1 = {1,3,5,2,67,4} # set is an unordered collecion of elements

In [49]:
type(set1)

set

In [50]:
for i in set1:
    print(i)

1
2
67
3
5
4

In [51]:
# Break and continue statements

In [52]:
for i in range(10):
    print(i)
    if(i==7):
        break

0
1
2
3
4
5
6
7

In [54]:
for i in range(5):
    print('loop',i)
    print('a')
    print('b')
    print('c')
    if(i==2):
        continue
    print('d')
    print('e')

loop 0
a
b
c
d
e
loop 1
a
b
c
d
e
loop 2
a
b
c
loop 3
a
b
c
d
e
loop 4
a
b
c
d
e

In [55]:
for i in range(5):
    print('loop',i)
    print('a')
    print('b')
    print('c')
    if(i==2):
        break
    print('d')
    print('e')

loop 0
a
b
c
d
e
loop 1
a
b
c
d
e
loop 2
a
b
c